<section class="our-products-section py-5">
  <h2 class="text-uppercase text-center display-4">our products</h2>
  <div class="line mb-5"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="product-card">
          <div class="card-img-container">
            <img
              src="assets/images/I'm From Mugwort Mask Review 1.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="product-card-body p-2">
            <h5 class="h4 text-capitalize fw-medium mt-3">mugwort mask</h5>

            <div class="d-flex align-items-center justify-content-between">
              <span class="card-price-tag fst-italic fs-5 fw-medium"
                >price: 20</span
              >
              <button class="card-btn">buy now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-card">
          <div class="card-img-container">
            <img
              src="assets/images/Rice-Glow-Set-thumbnail-04-concpet2_dfa39669-fb76-45b7-8ddf-616033353af3_540x.webp"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="product-card-body p-2">
            <h5 class="h4 fw-medium mt-3 text-capitalize">rice toner</h5>

            <div class="d-flex align-items-center justify-content-between">
              <span class="card-price-tag fst-italic fs-5 fw-medium"
                >price: 20</span
              >
              <button class="card-btn">buy now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-card">
          <div class="card-img-container">
            <img
              src="assets/images/17163800-im-from-honey-mask-39_cover_1499x1000.webp"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="product-card-body p-2">
            <h5 class="h4 fw-medium text-capitalize mt-3">honey mask</h5>

            <div class="d-flex align-items-center justify-content-between">
              <span class="card-price-tag fst-italic fs-5 fw-medium"
                >price: 20</span
              >
              <button class="card-btn">buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
