<nav class="navbar navbar-expand-lg  bg-transparent">
  <div class="container-fluid">
    <a
      class="navbar-brand nav-font-color fst-italic"
      [routerLink]="['/']"
      href="#"
      >I'm from</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse text-uppercase"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a
            class="nav-link active"
            [routerLinkActive]="'active-nav'"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/product/0/edit']"
            aria-current="page"
            href="#"
            >add product</a
          >
        </li>
        <li class="nav-item mx-3">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLinkActive]="'active-nav'"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/products']"
            href="#"
            >products</a
          >
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href="#">login</a>
        </li>
      </ul>
      <div class="d-flex nav-font-color" role="search">
        <i class="fa-solid fa-magnifying-glass me-4"></i>
        <i class="fa-regular fa-user me-4"></i>
        <i class="fa-solid fa-cart-shopping me-4"></i>
      </div>
    </div>
  </div>
</nav>
