<footer class="p-5">
  <div class="container-fluied footer-content">
    <div class="row text-capitalize">
      <div class="col-md-3">
        <div class="d-flex flex-column justify-content-between  h-100">
          <h3 class="fw-bolder fst-italic">I'm from</h3>
          <p class="text-capitalize"><span>&#169;</span> all rights reserved</p>
        </div>
      </div>
    
      <div class="col-md-3">
        <h3 class="text-uppercase fw-bolder">information</h3>
        <ul class="list-unstyled">
          <li>contact us</li>
          <li>delivery</li>
          <li>returns</li>
          <li>size guide</li>
          <li>sustainability</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="text-uppercase fw-bolder">company</h3>
        <ul class="list-unstyled">
          <li>stores</li>
          <li>privacy & police</li>
          <li>terms & conditions</li>
          <li>track an order</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3 class="text-uppercase fw-bolder">social media</h3>
        <ul class="list-unstyled">
          <li>instagram</li>
          <li>facebook</li>
          <li>twitter</li>
          <li>whats app</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
