<section class="learn-more-section p-5">
  <div class="container ">
    <div class="row  box-height ">
      <div class="col-md-6  learn-more-bg"></div>
      <div class="col-md-6 ">
        <div
          class="d-flex flex-column text-center h-100 align-items-center justify-content-center"
        >
          <h3 class="w-50">
            I'm  from - a brand of skin-care cosmetic created from the best
            ingredients of korean nature
          </h3>
          <button class="learn-more-btn">learn more</button>
        </div>
      </div>
    </div>
  </div>
</section>
